@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-bg-color: #e9e9e9;
    --primary-text-color: #424242;
    --accent-color: #ff3f3c;

}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter";
    margin: 0;
    padding: 0;
}
header {
    padding: 20px;
    margin-bottom: 100px;
}

main {
    background: url(polaroid.png) no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 800px;
}
.hero h2 {
    text-align: center;
    line-height: 1em;
    font-size: 9em;
    text-transform: uppercase;
    margin: 0;
}

.details h3 {
    text-align: center;
    font-size: 48px;
}

.details ul li {
    background: url('qrcode-solid.svg') no-repeat center left;
    list-style-type: none;
    margin: 10px;
    padding: 0 0 0 40px;
}